body{
    background-color: white;
}
.links > a{
    position: relative;
    left: 90%;
    margin: 15px;
    text-decoration: none;
}
img{
    width: 50%;
    padding-left: 25%;
    padding-top: 50px;
}
#text{
    
    width: 350px;
    height: 30px;
    padding: 15px;
    padding-left: 40px;
    box-sizing: border-box;
    
    background-color: white;
    background-image: url("/images/search-interface-symbol.png");
    
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 10px 3px;
    border-radius: 24px;
}
.form{
    text-align: center;
}
#sub{
    margin-top: 10px;
}
#text1{
    
    width: 350px;
    height: 30px;
    padding: 15px;
    padding-left: 40px;
    box-sizing: border-box;
    
    background-color: white;
    background-image: url("/images/image.png");
    
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 10px 3px;
    border-radius: 24px;
}
h2{
    color: rgb(169, 39, 39);
    padding-left: 20px;
}
h4{
    padding: 20px;
}
#i1{
    margin-left: 100px;
}
#i2{
    margin-left: 40px;
}
#i3{
    margin-left: 80px;
}
#i4{
    margin-left: 72px;
}
.i1,.i2,.i3,.i4{
    margin-left: 20px;
    margin-top: 10px;
}
#i1,#i2,#i3,#i4{
    padding-right: 200px;
    height: 20px;
}
.sub{
    margin: 30px;
    text-align: center;
}